.view-recipe-container {
    margin-top: 100px;
    border: black;
    width: 80%;
    margin-left: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

.view-recipe-container img {
    display: block;
    width: 50%;
    align-items: center;
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.view-recipe-container h2, h4 {
    text-align: center;
    padding-top: 10px;
}

.recipe-container {
    display: flex;
    flex-wrap: wrap;
}


.recipe-feature {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 5px;
    text-align: center;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.recipe-feature:hover {
    background-color: #f0f0f0;
}

