#navbar {
  background-color: #F1AA27;
}

#navbar ul {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  padding: 1em;
  list-style-type: none;
}

#navbar ul #id{
  display: flex;
  justify-content: flex-start;
}

#navbar ul a {
  color: #000000;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

#navbar ul a.active {
  color: #FFFFFF;
}

#top-images {
  display: flex;
}

.top-image {
  width: 400px;
}