
#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: transparent; 
}

#navbar ul {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  padding: 1em;
  list-style-type: none;
}

#navbar ul #jikoni-navbar{
  display: flex;
  justify-content: flex-start;
}

#navbar ul a {
  color: #000000;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

#navbar ul a.active {
  color: #FFFFFF;
}

#top-images {
  display: flex;
}

.top-image {
  width: 400px;
}

.searchbar{
  position: fixed;
  top: 2%;
  left: 30%;
  width: 300px;
  z-index: 2;
}

.difficulty-filter{
  position: fixed;
  top: 5%;
  left: 30%;
  width: 300px;
  z-index: 2;
}